.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(90deg, #ff4b2b, #ff416c);
  color: white;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
}

.profile {
  width: 35px;
  border-radius: 50%;
}